@import url('https://fonts.googleapis.com/css2? family=popins:wght@300;400;500;600;700;800;900&display=swap');

 
*{
    margin:0;
    padding : 0;
    box-sizing: border-box;
    font-family: ' poppins', sans-serif;

}

body {
    background :rgb(27, 27, 28);
    opacity: 0.9;
    color: rgb(255, 255, 255);
}
.header{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display:flex;
    justify-content:space-between;
    align-items: center;
    z-index: 100;}

.logo{
        font-size:25px;
        color:rgb(255, 255, 255) ;
        text-decoration: none;
        font-weight: 600; 
          } 

.navbar a{
    font-size: 18px;
    color:rgb(242, 241, 239) ;
    font-weight: 500;
    margin-left:35px
}

.navbar a:hover,
.navbar a.active{
    color:aqua
}
.home{
    display:flex;
    height: 100vh;
    align-items: center;
    padding: 0 10%;

}
.home-content{
    max-width: 600px;

}
.home-content h1{
    font-size:56px ;
}
.fa-linkedin{ 
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
     right:75px ;
    top: 5px;
    padding: 10px;}
    
.fa-github{
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 40px;
    top: 5px;
    padding: 10px;
}

.fa-instagram{
    font-size: 30px;
    color: rgb(255, 255, 255);
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 10px;
}

.fa:hover {
    color:aqua ;}

   

.mypic{
     max-height: 600px;
    position: absolute;
    top: 100px;
    left: 950px;
    width: auto;
    height:100vh;
     
}
img{
    max-height: 500px;
    position: absolute;
    top: 100px;
    width: auto;
    height: auto;
    margin: 10px;
}
.About_me{
     
    position: absolute;
    top: 120px;
     left:600px
}

.content{
     
    position: absolute;
    top: 200px;
    left:600px;
    margin-bottom: 20px;
    

}
.content p{margin-bottom: 20px;}

.myBlog{
   text-align: center;
   position: relative;
    top: 500px;
    margin-bottom: 5px;
}
.imageContainer {  
    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100vh;            
}

.blogImage {
    max-height: 500px;        
    width: 300px;             
    height: 300px;            
    margin: 10px;}

 
 
.blogContent {
    position: absolute;
    display: flex;
    top: 600px;
    justify-content: space-between; 
    padding: 0 100px;               
    
}

.blog1 {
    flex: 1;                        
    margin: 0 20px;                 
}
.blog1 h1 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}
